body {
    color: #232323;
    font-family: Varela, Arial;
    background-color: #FFFFFF;
}
h1, h2{
    
}
h1 {
    font-size: 70px;
    border: 3px solid #E5E5E5;
}
h2  {
    font-size: 50px;
    border: 1px solid #E5E5E5;
}
p {
    
}
li {
    
    font-size: 20px;
}

