#nav-container {
  width: 100%;
  position:relative;
  height: 200px;
  white-space: nowrap;
}

#nav-container a:hover {
  color: #393d3f;
  background: #fdfdff;
}

#nav-header {
  background-image: url('../resources/sunset.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 150px;
  display: flex;
}

#nav-title {
  color: white;
  font-size: 40px;
  /* line-height:150px; */
  font-weight: 100;
  margin: 0 auto;
  align-self: flex-end;
}

#nav {
  background-color: #393d3f;
  font-weight: bold;
  font-size: 25px;
}

#nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  height: 50px;
  
}

.nav-item {
  display: inline;
  line-height: 50px;
}

#nav a {
  text-decoration: none;
  color: #fdfdff;
  padding: 8px 8px 8px 8px;
}
