#resume-container {
    max-width: 80%;
    background-color: #f4f1de;
    margin: auto;
    margin-bottom: 50px;
    padding: 50px 50px 50px 50px;
}

#resume {
    margin: auto;
    display: block;
}
